Chapter-2/Node-RED flow without database.txt
[{"id":"b436853f6c9651c8","type":"mqtt in","z":"921e6e0376315dce","name":"","topic":"v3/packt-rs485-ln@ttn/devices/mypackt-rs485-ln/up","qos":"2","datatype":"auto","broker":"89d105c5e449013b","nl":false,"rap":true,"rh":0,"x":210,"y":80,"wires":[["976be91f376fdda0"]]},{"id":"976be91f376fdda0","type":"json","z":"921e6e0376315dce","name":"","property":"payload","action":"obj","pretty":false,"x":110,"y":160,"wires":[["674b95118ad1d6a4"]]},{"id":"a1853f8387f7d06f","type":"debug","z":"921e6e0376315dce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":160,"wires":[]},{"id":"674b95118ad1d6a4","type":"function","z":"921e6e0376315dce","name":"","func":"var voltage_phase1=msg.payload.uplink_message.decoded_payload.voltage_phase1;\nmsg.payload={Voltage_phase1:voltage_phase1}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["a1853f8387f7d06f"]]},{"id":"89d105c5e449013b","type":"mqtt-broker","z":"921e6e0376315dce","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]