Chapter-8/Node-RED flow to get data thru Modbus TCP.txt
[{"id":"b061f587.fed718","type":"file","z":"d6ceedd3.dc6aa","name":"","filename":"/home/pi/raspi-lmic/examples/ttn-otaa/missatge.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":450,"y":140,"wires":[["ce359223.909cc"]]},{"id":"7c42f1f0.e877a","type":"inject","z":"d6ceedd3.dc6aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola","payloadType":"str","x":90,"y":140,"wires":[["b061f587.fed718"]]},{"id":"ce359223.909cc","type":"debug","z":"d6ceedd3.dc6aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":140,"wires":[]},{"id":"d67f0b8c.8b17a8","type":"modbus-read","z":"d6ceedd3.dc6aa","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f4f6bf3b.33d3c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":150,"y":260,"wires":[["211c5aa2.bb9936","64e30a51.bcac64"],[]]},{"id":"211c5aa2.bb9936","type":"modbus-response","z":"d6ceedd3.dc6aa","name":"","registerShowMax":20,"x":390,"y":300,"wires":[]},{"id":"64e30a51.bcac64","type":"function","z":"d6ceedd3.dc6aa","name":"","func":"msg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["ab56e0a1.669df","b061f587.fed718"]]},{"id":"ab56e0a1.669df","type":"debug","z":"d6ceedd3.dc6aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"f4f6bf3b.33d3c","type":"modbus-client","z":"d6ceedd3.dc6aa","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.50","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true}]
