Chapter-9/node-red flow pipeline station1 with 3 steps.json
[{"id":"d9714c96.31b65","type":"json","z":"60b7e585.a0421c","name":"","property":"payload","action":"obj","pretty":false,"x":170,"y":120,"wires":[["5816e673.a64828","1161615a.ec44af"]]},{"id":"995420d4.37de7","type":"mqtt in","z":"60b7e585.a0421c","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"48093d14.5ff7e4","x":280,"y":60,"wires":[["d9714c96.31b65","24baeba8.0b2844"]]},{"id":"24baeba8.0b2844","type":"debug","z":"60b7e585.a0421c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"5816e673.a64828","type":"debug","z":"60b7e585.a0421c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":120,"wires":[]},{"id":"1161615a.ec44af","type":"function","z":"60b7e585.a0421c","name":"data","func":"var datastring = msg.payload.object\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":180,"wires":[["b2f952f2.26857"]]},{"id":"7b3c7851.9df0b8","type":"debug","z":"60b7e585.a0421c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":180,"wires":[]},{"id":"b2f952f2.26857","type":"function","z":"60b7e585.a0421c","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["7b3c7851.9df0b8","bc60e489.fcbc08"]]},{"id":"bc60e489.fcbc08","type":"function","z":"60b7e585.a0421c","name":"data","func":"msg.payload = msg.payload.Distance\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["5f88209f.de68f","f8d7add2.ebec7"]]},{"id":"5f88209f.de68f","type":"debug","z":"60b7e585.a0421c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":260,"wires":[]},{"id":"f8d7add2.ebec7","type":"function","z":"60b7e585.a0421c","name":"JSON","func":"var distance = msg.payload;\nvar t=Math.floor(Date.now() / 1000);\nreturn {payload:{DL2:distance,t\n\n}}","outputs":1,"noerr":0,"x":200,"y":320,"wires":[["27d86516.b37bba","377ce918.24c936"]]},{"id":"27d86516.b37bba","type":"debug","z":"60b7e585.a0421c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":320,"wires":[]},{"id":"3a67f821.5bb5e8","type":"inject","z":"60b7e585.a0421c","name":"","topic":"","payload":"bon dia","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":400,"wires":[["377ce918.24c936"]]},{"id":"377ce918.24c936","type":"serial out","z":"60b7e585.a0421c","name":"","serial":"2eaf522c.663d3e","x":610,"y":400,"wires":[]},{"id":"4c838f85.b8b7b","type":"serial in","z":"60b7e585.a0421c","name":"","serial":"2eaf522c.663d3e","x":340,"y":480,"wires":[["98624c9f.19086"]]},{"id":"98624c9f.19086","type":"debug","z":"60b7e585.a0421c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":480,"wires":[]},{"id":"48093d14.5ff7e4","type":"mqtt-broker","z":"60b7e585.a0421c","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2eaf522c.663d3e","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]