Chapter-3/packt smartlink to lora v3 flow breaker status iot on off.txt
[{"id":"7841fe78f2972565","type":"mqtt in","z":"f2f8ac4e400e046e","name":"","topic":"v3/packt-rs485-ln@ttn/devices/mypackt-rs485-ln/up","qos":"2","datatype":"auto","broker":"68c0b21874fb9d44","nl":false,"rap":true,"rh":0,"x":210,"y":100,"wires":[["dad048161f35b4b2"]]},{"id":"dad048161f35b4b2","type":"json","z":"f2f8ac4e400e046e","name":"","property":"payload","action":"obj","pretty":false,"x":110,"y":180,"wires":[["fb9fa68b9dd94db3"]]},{"id":"b1b3f56bf0492346","type":"debug","z":"f2f8ac4e400e046e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"fb9fa68b9dd94db3","type":"function","z":"f2f8ac4e400e046e","name":"Breaker status","func":"var breaker_status=msg.payload.uplink_message.decoded_payload.breaker_status;\nmsg.payload={breaker_status:breaker_status}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":180,"wires":[["5b0bbf8472f19a29","ccf94df94b7e78a4"]]},{"id":"5b0bbf8472f19a29","type":"function","z":"f2f8ac4e400e046e","name":"3=ON 2=OFF","func":"var a=msg.payload.breaker_status;\nif (a==3) {\n    msg.payload=1\n    }\n    else if (a==2) {\n    msg.payload=0    \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["b1b3f56bf0492346","935315f2ac2dcfb6"]]},{"id":"ccf94df94b7e78a4","type":"debug","z":"f2f8ac4e400e046e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":240,"wires":[]},{"id":"935315f2ac2dcfb6","type":"mqtt out","z":"f2f8ac4e400e046e","name":"","topic":"/PACKT/section1/tank1/pump0","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7e6a70aec3798d56","x":630,"y":100,"wires":[]},{"id":"05b362fb64c9b69a","type":"inject","z":"f2f8ac4e400e046e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":370,"y":20,"wires":[["935315f2ac2dcfb6"]]},{"id":"b9c3befa480f148d","type":"inject","z":"f2f8ac4e400e046e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":370,"y":60,"wires":[["935315f2ac2dcfb6"]]},{"id":"68c0b21874fb9d44","type":"mqtt-broker","z":"f2f8ac4e400e046e","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e6a70aec3798d56","type":"mqtt-broker","z":"f2f8ac4e400e046e","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]