Chapter-3/packt smartlink to lora v3 flow breaker status.txt
[{"id":"7841fe78f2972565","type":"mqtt in","z":"f2f8ac4e400e046e","name":"","topic":"v3/packt-rs485-ln@ttn/devices/mypackt-rs485-ln/up","qos":"2","datatype":"auto","broker":"6c9641ff.f79d2","nl":false,"rap":true,"rh":0,"x":210,"y":100,"wires":[["dad048161f35b4b2"]]},{"id":"dad048161f35b4b2","type":"json","z":"f2f8ac4e400e046e","name":"","property":"payload","action":"obj","pretty":false,"x":170,"y":180,"wires":[["fb9fa68b9dd94db3","7b1fdf96698f4a25"]]},{"id":"b1b3f56bf0492346","type":"debug","z":"f2f8ac4e400e046e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"fb9fa68b9dd94db3","type":"function","z":"f2f8ac4e400e046e","name":"Breaker status","func":"var breaker_status=msg.payload.uplink_message.decoded_payload.breaker_status;\nmsg.payload={breaker_status:breaker_status}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["b1b3f56bf0492346"]]},{"id":"7b1fdf96698f4a25","type":"debug","z":"f2f8ac4e400e046e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":240,"wires":[]},{"id":"6c9641ff.f79d2","type":"mqtt-broker","z":"f2f8ac4e400e046e","name":"serial to lora","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]