Chapter-7/Node-RED flow PLC to PLC communications.txt
[{"id":"89b922d2.ca014","type":"json","z":"583fd434.55d95c","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":160,"wires":[["4089c57e.cfa10c"]]},{"id":"4089c57e.cfa10c","type":"function","z":"583fd434.55d95c","name":"data","func":"var datastring = msg.payload.data\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":160,"wires":[["3a052fbe.ebc04"]]},{"id":"a59e7ad9.b85578","type":"debug","z":"583fd434.55d95c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":817,"y":242,"wires":[]},{"id":"3a052fbe.ebc04","type":"function","z":"583fd434.55d95c","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":608,"y":160,"wires":[["56e5b0b6.2b32"]]},{"id":"56e5b0b6.2b32","type":"function","z":"583fd434.55d95c","name":"base 64 decode","func":"var b = new Buffer (msg.payload,'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":584,"y":242,"wires":[["a59e7ad9.b85578","91469467.30a5c8"]]},{"id":"91469467.30a5c8","type":"function","z":"583fd434.55d95c","name":"decimal 16 bits","func":"var a = msg.payload[3];\nvar b = msg.payload[4];\nmsg.payload = a*256+b;\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":340,"wires":[["3276a1ec.7956ee","f12a01f8.16b1"]]},{"id":"3276a1ec.7956ee","type":"debug","z":"583fd434.55d95c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":777,"y":341,"wires":[]},{"id":"f5c326ad.f0c238","type":"mqtt in","z":"583fd434.55d95c","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"a4c6ac31.fd6b5","x":196,"y":57,"wires":[["89b922d2.ca014","f8eacc7e.c566e"]]},{"id":"f8eacc7e.c566e","type":"debug","z":"583fd434.55d95c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":60,"wires":[]},{"id":"f12a01f8.16b1","type":"modbus-write","z":"583fd434.55d95c","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"d7827f96.47d6e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":460,"wires":[["468e9a9f.5618e4"],[]]},{"id":"468e9a9f.5618e4","type":"modbus-response","z":"583fd434.55d95c","name":"","registerShowMax":20,"x":730,"y":420,"wires":[]},{"id":"c53c04e5.6c4c78","type":"inject","z":"583fd434.55d95c","name":"","topic":"","payload":"wQEaAAIBAQ==","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["56e5b0b6.2b32"]]},{"id":"a4c6ac31.fd6b5","type":"mqtt-broker","z":"583fd434.55d95c","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7827f96.47d6e","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]