Chapter-6/Node-RED flow PLC to LoRAWAN.txt
{\rtf1\ansi\ansicpg1252\cocoartf2513
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"89b922d2.ca014","type":"json","z":"bb223eb05566ae43","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":180,"wires":[["4089c57e.cfa10c"]]\},\{"id":"4089c57e.cfa10c","type":"function","z":"bb223eb05566ae43","name":"data","func":"var datastring = msg.payload.data\\nmsg.payload = datastring\\nreturn msg;","outputs":1,"noerr":0,"x":401,"y":180,"wires":[["3a052fbe.ebc04"]]\},\{"id":"a59e7ad9.b85578","type":"debug","z":"bb223eb05566ae43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":797,"y":262,"wires":[]\},\{"id":"3a052fbe.ebc04","type":"function","z":"bb223eb05566ae43","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') \{\\n    return msg;\\n\}\\nelse\\n\{\}","outputs":1,"noerr":0,"x":588,"y":180,"wires":[["56e5b0b6.2b32"]]\},\{"id":"56e5b0b6.2b32","type":"function","z":"bb223eb05566ae43","name":"base 64 decode","func":"var b = new Buffer (msg.payload,'base64');\\nmsg.payload = b;\\nreturn msg;","outputs":1,"noerr":0,"x":564,"y":262,"wires":[["a59e7ad9.b85578","91469467.30a5c8"]]\},\{"id":"91469467.30a5c8","type":"function","z":"bb223eb05566ae43","name":"decimal 16 bits","func":"var a = msg.payload[3];\\nvar b = msg.payload[4];\\nmsg.payload = a*256+b;\\nreturn msg;","outputs":1,"noerr":0,"x":539,"y":360,"wires":[["3276a1ec.7956ee"]]\},\{"id":"3276a1ec.7956ee","type":"debug","z":"bb223eb05566ae43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":757,"y":361,"wires":[]\},\{"id":"f5c326ad.f0c238","type":"mqtt in","z":"bb223eb05566ae43","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"a4c6ac31.fd6b5","nl":false,"rap":false,"x":176,"y":77,"wires":[["89b922d2.ca014","f8eacc7e.c566e"]]\},\{"id":"f8eacc7e.c566e","type":"debug","z":"bb223eb05566ae43","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":80,"wires":[]\},\{"id":"c53c04e5.6c4c78","type":"inject","z":"bb223eb05566ae43","name":"","props":[\{"p":"payload","v":"wQEaAAIBAQ==","vt":"str"\},\{"p":"topic","v":"","vt":"string"\}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"wQEaAAIBAQ==","payloadType":"str","x":180,"y":280,"wires":[["56e5b0b6.2b32"]]\},\{"id":"16e6471c559b3ced","type":"inject","z":"bb223eb05566ae43","name":"","props":[\{"p":"payload"\},\{"p":"topic","vt":"str"\}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AQMCAAY4Rg==","payloadType":"str","x":180,"y":320,"wires":[["56e5b0b6.2b32"]]\},\{"id":"dff2843477d090f5","type":"comment","z":"bb223eb05566ae43","name":"EXAMPLES FROM Base64 ENCODED PAYLOADS","info":"","x":230,"y":240,"wires":[]\},\{"id":"a4c6ac31.fd6b5","type":"mqtt-broker","z":"bb223eb05566ae43","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""\}]}