Chapter-4/Node-red-flow-REC-MAX-CVM-to-ttn.txt
[{"id":"100277b5.cca288","type":"mqtt in","z":"54c641f6.7af1","name":"","topic":"v3/rak-7431-xavier@ttn/devices/87654321/up","qos":"2","datatype":"auto","broker":"d3fab780.82bab8","x":230,"y":140,"wires":[["e35e17b2.9881f8","73697238.00ce8c"]]},{"id":"2a618d35.c09a62","type":"debug","z":"54c641f6.7af1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":160,"wires":[]},{"id":"e35e17b2.9881f8","type":"function","z":"54c641f6.7af1","name":"Payload_fields","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.uplink_message.decoded_payload;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":140,"wires":[["61ae318.13fb8d","6ec9b950.7dc518"]]},{"id":"6ec9b950.7dc518","type":"function","z":"54c641f6.7af1","name":"voltage_phase1","func":"var a = msg.payload;\nmsg.payload=a.voltage_phase1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":160,"wires":[["2a618d35.c09a62"]]},{"id":"61ae318.13fb8d","type":"debug","z":"54c641f6.7af1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":80,"wires":[]},{"id":"73697238.00ce8c","type":"debug","z":"54c641f6.7af1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":60,"wires":[]},{"id":"d3fab780.82bab8","type":"mqtt-broker","z":"54c641f6.7af1","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]