Chapter-4/Node-red-flow-REC-MAX-CVM-to-ttn-IoT-ONOFF.txt
[{"id":"2078b7bc.5549a8","type":"mqtt in","z":"2abc337e.d7383c","name":"","topic":"v3/rak-7431-xavier@ttn/devices/87654321/up","qos":"2","datatype":"auto","broker":"bc65c7fc.3656f8","x":190,"y":140,"wires":[["c655e9e5.899bb8","b754bea1.fe531"]]},{"id":"148abcf4.fcfa93","type":"debug","z":"2abc337e.d7383c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"c655e9e5.899bb8","type":"function","z":"2abc337e.d7383c","name":"Payload_fields","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.uplink_message.decoded_payload;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":140,"wires":[["582cf644.5f6a58","bfa2e8db.3c0638"]]},{"id":"bfa2e8db.3c0638","type":"function","z":"2abc337e.d7383c","name":"voltage_phase1","func":"var a = msg.payload;\nmsg.payload=a.voltage_phase1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":160,"wires":[["148abcf4.fcfa93"]]},{"id":"582cf644.5f6a58","type":"debug","z":"2abc337e.d7383c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":80,"wires":[]},{"id":"b754bea1.fe531","type":"debug","z":"2abc337e.d7383c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"3e8c7abf.48b676","type":"function","z":"2abc337e.d7383c","name":"Opening Circuit breaker","func":"var b = new Buffer(4);\nb=[0x02,0x00,0x01,0x00,0x0B,0x02,0x10,0xC3,0xAC,0x00,0x01,0x02,0x00,0x01,0x98,0x00];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":280,"wires":[["ac0d5ff9.35062","afb39461.ca0058"]]},{"id":"38a4a2c0.f0b29e","type":"inject","z":"2abc337e.d7383c","name":"Downlink","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["3e8c7abf.48b676"]]},{"id":"68d95cde.7a3614","type":"debug","z":"2abc337e.d7383c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":340,"wires":[]},{"id":"ac0d5ff9.35062","type":"function","z":"2abc337e.d7383c","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["33025df0.7976b2","2066ef7a.8e6a1"]]},{"id":"33025df0.7976b2","type":"function","z":"2abc337e.d7383c","name":"Downlink formatter","func":"var payloadB64 =msg.payload;\nmsg.payload = {\n\n  \"downlinks\": [{\n    \"f_port\": 129,\n    \"frm_payload\": payloadB64,\n    \"priority\": \"NORMAL\"\n  }]\n\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":340,"wires":[["68d95cde.7a3614","b611c03e.0c6d1"]]},{"id":"afb39461.ca0058","type":"debug","z":"2abc337e.d7383c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":220,"wires":[]},{"id":"2066ef7a.8e6a1","type":"debug","z":"2abc337e.d7383c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":380,"wires":[]},{"id":"b611c03e.0c6d1","type":"mqtt out","z":"2abc337e.d7383c","name":"","topic":"v3/rak-7431-xavier@ttn/devices/87654321/down/push","qos":"","retain":"","broker":"bc65c7fc.3656f8","x":840,"y":260,"wires":[]},{"id":"4cfb9fa4.31559","type":"function","z":"2abc337e.d7383c","name":"Closing Circuit breaker","func":"var b = new Buffer(4);\nb=[0x02,0x00,0x01,0x00,0x0B,0x02,0x10,0xC3,0xAC,0x00,0x01,0x02,0x00,0x02,0xD8,0x01];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["ac0d5ff9.35062","57d977e2.5f0cc8"]]},{"id":"7da83309.98c72c","type":"inject","z":"2abc337e.d7383c","name":"Downlink","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":400,"wires":[["4cfb9fa4.31559"]]},{"id":"68dbd5c9.fc10ec","type":"mqtt in","z":"2abc337e.d7383c","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"6c69c52d.e59b6c","x":210,"y":540,"wires":[["33888dd9.1cc942","d2020afc.5e3668"]]},{"id":"33888dd9.1cc942","type":"debug","z":"2abc337e.d7383c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":540,"wires":[]},{"id":"d2020afc.5e3668","type":"switch","z":"2abc337e.d7383c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":460,"wires":[["3e8c7abf.48b676"],["4cfb9fa4.31559"]]},{"id":"57d977e2.5f0cc8","type":"debug","z":"2abc337e.d7383c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":460,"wires":[]},{"id":"bc65c7fc.3656f8","type":"mqtt-broker","z":"2abc337e.d7383c","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6c69c52d.e59b6c","type":"mqtt-broker","z":"2abc337e.d7383c","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]