Chapter-5/Node-red-flow-vfd-to-LoRaWAN-IoT-OnOff.txt
[{"id":"0630f2ee47708f03","type":"mqtt in","z":"4f4571fddd52a76b","name":"","topic":"v3/packt-rs485-ln@ttn/devices/mypackt-rs485-ln/up","qos":"2","datatype":"auto","broker":"6b87c070b7f8a7c8","nl":false,"rap":true,"rh":0,"x":250,"y":60,"wires":[["7df28ae9682513f1"]]},{"id":"7df28ae9682513f1","type":"json","z":"4f4571fddd52a76b","name":"","property":"payload","action":"obj","pretty":false,"x":150,"y":140,"wires":[["10ca2f0e2eafac51"]]},{"id":"8aeb4061ddca2e35","type":"debug","z":"4f4571fddd52a76b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":140,"wires":[]},{"id":"10ca2f0e2eafac51","type":"function","z":"4f4571fddd52a76b","name":"","func":"var vfd_speed_rpm=msg.payload.uplink_message.decoded_payload.vfd_speed_rpm;\nmsg.payload=vfd_speed_rpm;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":140,"wires":[["8aeb4061ddca2e35","33fa8f6dbf6a20ca"]]},{"id":"33fa8f6dbf6a20ca","type":"mqtt out","z":"4f4571fddd52a76b","name":"","topic":"/packt/vfd_speed_rpm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cad68fd27e0ed22f","x":500,"y":180,"wires":[]},{"id":"6b87c070b7f8a7c8","type":"mqtt-broker","z":"4f4571fddd52a76b","name":"Chapter 5","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cad68fd27e0ed22f","type":"mqtt-broker","z":"4f4571fddd52a76b","name":"Chapter 5 IoTOnOff","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]