Chapter-5/Salicru dragino RS485 to Lora to IoT OnOff node-red flow.txt
[{"id":"98e85dfa.23c4a","type":"mqtt in","z":"532ac042.9ee44","name":"","topic":"dragino_rs485_lr/devices/87654321/up","qos":"2","datatype":"auto","broker":"aa0bb54f.3e7de8","x":225,"y":94,"wires":[["a946646f.aba0e8"]]},{"id":"a946646f.aba0e8","type":"function","z":"532ac042.9ee44","name":"payload","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"x":195,"y":174,"wires":[["22249227.f341fe","106e5a46.9d29b6"]]},{"id":"22249227.f341fe","type":"debug","z":"532ac042.9ee44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":164,"y":319,"wires":[]},{"id":"109c1d38.ecc163","type":"debug","z":"532ac042.9ee44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":333,"y":263,"wires":[]},{"id":"106e5a46.9d29b6","type":"function","z":"532ac042.9ee44","name":"rpm","func":"var a = msg.payload;\nmsg.payload=a.rpm;\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":174,"wires":[["109c1d38.ecc163","aba4ad57.023"]]},{"id":"aba4ad57.023","type":"mqtt out","z":"532ac042.9ee44","name":"","topic":"/Nave1/tanque1/temperatura","qos":"","retain":"","broker":"604056d.b63baa8","x":505,"y":356,"wires":[]},{"id":"aa0bb54f.3e7de8","type":"mqtt-broker","z":"532ac042.9ee44","name":"eu.thethings.network","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"604056d.b63baa8","type":"mqtt-broker","z":"532ac042.9ee44","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]